body {
  margin: 0;
  font-family: "Nerko One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  src: url("../src/assets/fonts/NerkoOne-Regular.ttf") format("truetype");
  font-weight: regular;
}

code {
  font-family: "Nerko One", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}
